<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>Icebingo Productions</title>
    <meta name="theme-color" content="#393939" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <link rel="stylesheet" type="text/css" href="../Css/generic.min.css">
    <link rel="stylesheet" type="text/css" href="Css/Index.css">
    <div>
        <p><a href="Pages/SgDiscord.html" target="_blank">Symphogear Discord</a></p>
    </div>
    <div>
        <p><a href="Pages/music.html" target="_blank">Symphogear Discord Music Bot List</a></p>
    </div>
    <div>
        <p><a href="Pages/minecraft.html" target="_blank">Minecraft Server</a></p>
    </div>
    <div>
        <p><a href="Pages/BoxDiscord.html" target="_blank">Box Discord</a></p>
    </div>
    <div>
        <p><a href="Pages/wotMaps.html" target="_blank">World of Tanks Stats</a></p>
    </div>
    <div>
        <p><a href="MazeSolver" target="_blank">Maze Solver</a></p>
    </div>
</body>
</html>