<html>
<head>
    <title>Hello React</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <noscript>
        This page requires JS to function. Please whitelist JS on this page.
    </noscript>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/symphogames-react/dist/main.css")" />
    <div id="content"></div>
    <script type="application/javascript" charset="UTF-8" src="@Url.Content("~/symphogames-react/dist/main.js")"></script>
</body>
</html>